footer {

overflow: hidden;
	position: relative;
	z-index: 50;
	text-align: center;
}

.footer {
		position: relative;
		background: #F8F8F8;
		text-align: center;
}

.footImg {

width: 100%;
height: 600px;
background:  url(../images/fbg.png) no-repeat;
background-size: cover;
}