body, input, select, button {
	font-family: "Lucida Sans Unicode", "Arial", sans-serif;
}


h1 {
	margin: 0;
}

img {
	display: block;
}

.menuIcon {
	display: inline-block;
	height: 30px;
	width: 30px;
	background: url(../images/menu-icon.png) no-repeat top;
	position: fixed;
	z-index: 14000;
	color: #000;
	top: 17px;
	left: 20px;
	font-size: 20px;
	font-size: 35px;
	text-decoration: none;
}

.menuIcon.open {
	background-position: bottom;
}

.hidetext {
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.btn {
	display: inline-block;
	color: #ec008c;
	border: 1px solid #ec008c;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: transparent;
	padding: 4px 10px;
	cursor: pointer;
	outline: none;
}
.correct_timeline {
display: none;
			-webkit-transition: all 2000ms ease-out;
		-moz-transition: all 2000ms ease-out;
		-o-transition: all 2000ms ease-out;
		-ms-transition: all 2000ms ease-out;	
		transition: all 2000ms ease-out;

}


.basketArea.active .btn,
.btn:hover {
	color: #fff;
	background-color: #ec008c;
}

.notifArea.active a.alertIcon {
	background: url(../images/search-icons.png) no-repeat right bottom !important;
}


.menuInnerContent {
	font-size: 14px;
	color: #4a4b4d;
	font-size: 14px;
	height: 100%;
	background-color: #f8f8f8;
}

.notif {
	 border-radius: 50%;
	background-color: #ec008c;
	color: #fff;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
}

.sbWrapper {
	padding-top: 60px;
}

.sbWrapper {
	background: #fff;
}

.identity {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

.sbBlock {
	margin-bottom: 10px;
}

.sbTitle {
	font-weight: bold;
	background-color: #f8f8f8;
	padding: 10px 20px;
	font-size: 16px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.identity .name {
	line-height: 35px;
}

.identity .photo {
	float: left;
	margin: 0 15px 0 20px;
}

.sbLine {
	padding: 0 20px;
	margin: 15px 0;
}

.sbLine > div {
	float: left;
	line-height: 30px;
}

.sbLine > div:last-child {
	float: right;
	margin-top: 5px;
	line-height: 20px;
	font-size: 12px;
}

.sbLine .running {
	color: #ec008c;
}

.sbLineIcon {
	margin-right: 15px;
}

.sbLine .btn {
	margin-left: 10px;
}

.sbLineIcon .sbIcon {
	width: 30px;
	height: 30px;
	display: block;
}

.sbLineIcon .sbIcon.arrow {
	background: url(../images/sidebar/arrow-icon.png) no-repeat;
}
.sbLineIcon .sbIcon.valid {
	background: url(../images/sidebar/valid-icon.png) no-repeat;
}
.sbLineIcon .sbIcon.heart {
	background: url(../images/sidebar/heart-icon.png) no-repeat;
}
.sbLineIcon .sbIcon.cog {
	background: url(../images/sidebar/cog-icon.png) no-repeat;
}

.sbFav:hover {
	cursor: pointer;
}

.sbFav:hover .sbLineIcon .sbIcon.heart {
	background: url(../images/sidebar/remove-icon.png) no-repeat;	
}

.sbHelp,
.sbForum,
.sbLogout {
	padding-left: 65px;
}

.sbHelp {
	background: url(../images/sidebar/question-icon.png) 20px 6px no-repeat #f8f8f8;
}
.sbForum {
	background: url(../images/sidebar/forum-icon.png) 20px 6px no-repeat #f8f8f8;
}
.sbLogout {
	background: url(../images/sidebar/log-icon.png) 20px 6px no-repeat #f8f8f8;
}

/**************************************************/
/*					Responsive			          */
/**************************************************/

@media screen and (max-width: 1300px)  {

	.body.pushed .wrapper .SalesContent {
		width: 100%;
	}

}